html {
  font-family: Montserrat, Helvetica Neue, sans-serif;
  background: #fff;
  color: #333;
}

.header {
  width: 100%;
  height: 64px;
  position: fixed;
  padding: 0;
  top: 0;
  border-bottom: 1px solid gray;
  background: #eee;
}

a:link {
  color: #336;
}

a:visited {
  color: #636;
}

a:hover {
  color: #669;
}

a.headertitle {
  color: #333;
  text-decoration: none;
}
